
<p-table [value]="Mno" [(contextMenuSelection)]="selectedMno" [contextMenu]="cm">
  <ng-template pTemplate="header">
      <tr>
          <th>ID</th>
          <th>Operator</th>
          <th>Number</th>
          <th>Simbox ID</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-MNO>
      <tr (click)="onClick($event,Mno)">
          <td>{{MNO.id}}</td>
          <td>{{MNO.operator}}</td>
          <td>{{MNO.number}}</td>
          <td>{{MNO.simbox_id}}</td>
      </tr>
  </ng-template>
</p-table>
<p-contextMenu #cm [model]="items"></p-contextMenu>
